#loader {
    height: 70px;
    width: 70px;
    border-left: 7px solid gold;
    border-bottom: 1px solid greenyellow;
    border-right: 1px solid greenyellow;
    border-top: 7px solid gold;
    border-radius: 50%;
    animation: spinner 0.4s linear infinite;
  }
  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }